.vscode/**
.vscode-test/**
.gitignore
.github/**
assets/doc/**
assets/examples/**
coverage/**
scripts/**
node_modules/**
src/**
tests/**
sample/**
*.vsix
package-lock.json
bun.lock
tsconfig.json
vitest.config.ts
